.modal-overlay {      /*This is the rest of the page when the modal is open*/
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modalContent {
	display: flex;
	flex-direction:column;
	align-content: center;
}
#firstScreen {
	display: none;
}

#secondScreen {
	display: none;
}
.iconButton {
	display: flex;
}
.leftArrow {
	align-self: center;}